*{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

/* Redberry Knight Cup left header */
.left-header{
    color:#FFFFFF;
    background: #7025FB;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 9%;
    width: 48.5%;
}
/* Redberry Knight Cup header queen img*/
.left-header .queen{
    position: absolute;
    left: 6%;
    top: 35%;
    bottom: 35%;
}
/* Redberry Knight Cup header Text */
.left-header .heading-text{
    position: absolute;
    left: 9%;
    top: 27%;
    bottom: 27%;
    width: 35%;
    height: 50%;
    font-weight: bolder;
    font-size:150%;
    margin: 0;
}
/* Registration page Left body */
.left-body{
    font-style: italic;
    text-transform: uppercase;
}
/* Registration page Left body img*/
.left-body img{
    position:fixed;
    width: 48.5%;
    height: 100%;
    left: 0;
    top: 9%;
}
/* Registration page Left body text good move */
.left-body .good-move{
    position: absolute;
    width: 25%;
    height: 10%;
    left: 7%;
    top: 27%;
    font-weight:900;
    font-size: 165%;
    line-height: 200%;
    color: #212529;    
}
/* Registration page Left body text Emanuel Lasker */
.left-body .lasker{
    position: absolute;
    width: 20%;
    height: 5%;
    left: 7%;
    top: 43%;
    font-weight: 500;
    font-size: 140%;
    line-height: 100%;
    color: #E5E6E8;
}
/* Registration page right header */
.right-header{
    color:#FFFFFF;
    position:absolute;
    border-bottom: 1px solid rgba(185, 180, 196, 0.3);
    left: 48.5%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 9%;
    width: 51.5%;
 }
 /* Registration page right header text*/
.right-header .create{
    position:absolute;
    left: 5%;
    right: 0;
    top: 40%;
    bottom: 0;
    height: 9%;
    width: 48.5%;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #212529;
} 
/* Registration page right body */
.right-body{
    position:absolute;
    left: 48.5;
    right: 0;
    top: 9%;
    bottom: 0;
    height: 91%;
    width: 48.5%;
}
/* Registration page right body line to connect 1 and 2 */
.right-body .box{
    position: relative;
    top: 10%;
    left: 10%;
    width: 174px;
    border: 1px solid rgba(185, 180, 196, 0.3);
    font-family: 'Open Sans';
    font-style:normal;
    font-weight: bold;
}
/* Registration page right number 1 text */
.box .first{
    position: absolute;
    left: -40px;
    top:-20px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Registration page right body number 2 text */
.box .second{
    position: absolute;
    right:-40px;
    top: -20px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    color: #95939A;
    background: #F5F5F5;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Registration page right body personal information text */
.right-body .info{
    position: absolute;
    left: 10px;
    top: 110px;
    font-family: 'Open Sans', sans-serif;
    font-style:normal;
    font-weight:500;
    font-size: 18px;
    line-height: 150%;
}
/* Registration page right body chess experience text */
.right-body .exp{
    position: absolute;
    left: 225px;
    top: 110px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}
/* Registration page right body form header text personal information */
.right-body .form-info{
    position: absolute;
    left: 10px;
    top: 240px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #000000;
}
/* Registration page right body form header text basic info fields */
.right-body .form-basic{
    position: absolute;
    left: 10px;
    top: 290px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #95939A;
}
/* Registration page right body form*/
.right-body .form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 775px;
    height: 340px;
    left:10px;
    top: 400px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
}
/* Registration page right body form text name*/
.right-body .name{
    width: 90%;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
/* Registration page right body form email address*/
.right-body .email{
    width: 90%;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    
}
/* Registration page right body form phone number*/
.right-body .phone{
    width: 90%;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
/* Registration page right body form date of birth*/
.right-body .date{
    width: 90%;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
/* Registration page right body back button*/
.right-body .back{
    padding: 13px 24px;
    gap: 10px;
    position: fixed;
    width: 93px;
    height: 53px;
    left: 51%;
    top:93%;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
}

.back:hover{
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
}
/* Registration page right body next button*/
.right-body .next{
    position: fixed;
    width: 130px;
    height: 53px;
    left: 85%;
    top:93%;    
    background: #212529;
    border-radius: 8px;    
}
/* Registration page right body next button hover effect*/
.next:hover{
    border: 4px solid rgba(194, 165, 249, 0.8);
}
/* Registration page right body next button text*/
.right-body .next-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    top: 25%;
    left: 20%;
    margin: 0;

}
/* Registration page right body next button img*/
.right-body .next-arrow{
    position: absolute;
    left: 60%;
    right: 0%;
    top: 27%;
    bottom: 0%;
}


/* Registration page right body error pop-up for name*/
.right-body .error-name{
    visibility:hidden;
    position:absolute;
    left: 58%;
    top: 0%;
    padding: 0px;
    width: 37%;
    height: 10%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Registration page right body error pop-up for name img*/
.error-name .error-img{
    position: absolute;
    top: 10%;
    left: 3%;
}
/* Registration page right body error pop-up for name img*/
.error-name .invalid-name{
    position: absolute;
    left: 10%;
    top: 9%;
}
/* Registration page right body error pop-up close btn*/
.error-name .error-close{
    position: absolute;
    top: 6%;
    right: 3%;
    border: none;
    background: #FFFFFF;
}
/* Registration page right body error pop-up for name text2 */
.error-name .invalid-name2{
    position:absolute;
    left: 3%;
    top: 60%;
}

/* Registration page right body error pop-up for email*/
.right-body .error-email{
    visibility:hidden;
    position:absolute;
    left: 58%;
    top: 10%;
    padding: 0px;
    width: 37%;
    height: 10%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Registration page right body error pop-up for email img*/
.error-email .error-img{
    position: absolute;
    top: 10%;
    left: 3%;
}
/* Registration page right body error pop-up for email img*/
.error-email .invalid-email{
    position: absolute;
    left: 10%;
    top: 9%;
}
/* Registration page right body error pop-up close btn*/
.error-email .error-close{
    position: absolute;
    top: 6%;
    right: 3%;
    border: none;
    background: #FFFFFF;
}
/* Registration page right body error pop-up for email text2 */
.error-email .invalid-email2{
    position:absolute;
    left: 3%;
    top: 60%;
}


/* Registration page right body error pop-up for phone*/
.right-body .error-phone{
    visibility:hidden;
    position:absolute;
    left: 58%;
    top: 20%;
    padding: 0px;
    width: 37%;
    height: 10%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Registration page right body error pop-up for phone img*/
.error-phone .error-img{
    position: absolute;
    top: 10%;
    left: 3%;
}
/* Registration page right body error pop-up for phone img*/
.error-phone .invalid-phone{
    position: absolute;
    left: 10%;
    top: 9%;
}
/* Registration page right body error pop-up close btn*/
.error-phone .error-close{
    position: absolute;
    top: 6%;
    right: 3%;
    border: none;
    background: #FFFFFF;
}
/* Registration page right body error pop-up for phone text2 */
.error-phone .invalid-phone2{
    position:absolute;
    left: 3%;
    top: 60%;
}


/* Registration page right body error pop-up for date*/
.right-body .error-date{
    visibility:hidden;
    position:absolute;
    left: 58%;
    top: 30%;
    padding: 0px;
    width: 37%;
    height: 10%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Registration page right body error pop-up for date img*/
.error-date .error-img{
    position: absolute;
    top: 10%;
    left: 3%;
}
/* Registration page right body error pop-up for date img*/
.error-date .invalid-date{
    position: absolute;
    left: 10%;
    top: 9%;
}
/* Registration page right body error pop-up close btn*/
.error-date .error-close{
    position: absolute;
    top: 6%;
    right: 3%;
    border: none;
    background: #FFFFFF;
}
/* Registration page right body error pop-up for date text2 */
.error-date .invalid-date2{
    position:absolute;
    left: 3%;
    top: 60%;
}
#correct-name{
    visibility: hidden;
}
#correct-email{
    visibility: hidden;
}
#correct-phone{
    visibility: hidden;
}
#correct-date{
    visibility: hidden;
}